#image {
  size: 80px;
}

#seeAll {
  color: black;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid black;
}

.table > tbody > tr > td {
    vertical-align: bottom;
    border-bottom: 1px solid black;
}

#title {
  font-size: 100px;
}

hr {
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #000000;
}

#getBox {
  font-size: 40px;
  font-family: 'Luckiest Guy', cursive;
}

#input {
  font-size: 20px;
  font-family: 'Luckiest Guy', cursive;
  height: 40px;
  width: 70px;
  border-radius: 5px;
  text-align: center;
  background-color: pink;
  border: 1px solid black;
  color: black;
}

#inputButton {
  font-size: 20px;
  font-family: 'Luckiest Guy', cursive;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  color: black;
  border: 1px solid black;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
}

input {
  height: 30px;
}

.table {
  font-size: 50px;
  font-family: 'Luckiest Guy', cursive;
  vertical-align: middle;
}

th {
  text-align: center;
  vertical-align: middle;
}

td {
}

button {
  font-family: 'Luckiest Guy', cursive;
  color: black;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

.pokeButtons {
  width: 100px;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  margin: 0 5px 2px 0;
}

body {
  background-color: #383340;
  color: white;
}