#forecastImage {
height: 80px}

#forecastTime {
  height: 80px;
}

#image {
  size: 80px;
}

#title {
  font-size: 100px;
}

#getBox {
  font-size: 40px;
}

#state {
  font-size: 20px;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  background-color: yellow;
  border: 1px solid black;
  color: black;
}

#city {
  font-size: 20px;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  background-color: pink;
  border: 1px solid black;
  color: black;
}

h1 {
  text-align: center;
}

button {
  font-size: 20px;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  color: black;
  border: 1px solid black;
}


input {
  height: 30px;
}

/*.table {
  font-size: 50px;
  font-family: 'Luckiest Guy', cursive;
  vertical-align: middle;
}
*/
/*th {
  text-align: center;
  vertical-align: middle;
}

td {
}*/
